<div class="container">
  <div data-hook="admin_tracker_form_fields" class="row">
    <div class="col-5">
      <%= f.field_container :analytics_id do %>
        <%= f.label :analytics_id %>
        <%= f.text_field :analytics_id, class: 'fullwidth' %>
      <% end %>
    </div>

     <div class="col-5">
      <%= f.field_container :active do %>
        <%= f.label :active %>
        <ul>
          <li>
            <%= radio_button(:tracker, :active, true) %>
            <%= label_tag :tracker_active_true, Spree.t(:say_yes) %>
          </li>
          <li>
            <%= radio_button(:tracker, :active, false) %>
            <%= label_tag :tracker_active_false, Spree.t(:say_no) %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="col-5">
      <%= f.field_container :store_selector do %>
        <%= f.label :store %>
        <%= collection_select(:tracker, :store_id, Spree::Store.all, :id, :name, {}, class: 'custom-select fullwidth') %>
      <% end %>
    </div>
  </div>
