<%= render "spree/admin/shared/general_tabs" %>

<% admin_breadcrumb(t("spree.settings")) %>
<% admin_breadcrumb(t("spree.general_settings")) %>
<% admin_breadcrumb(plural_resource_name(Spree::Tracker)) %>

<% content_for :page_actions do %>
  <% if can?(:create, Spree::Tracker) %>
    <li>
      <%= link_to t("spree.new_tracker"),
                  new_object_url,
                  :id => "admin_new_tracker_link",
                  :class => "btn btn-primary" %>
    </li>
  <% end %>
<% end %>

<% if @trackers.any? %>
  <table class="index">
    <colgroup>
      <col style="width: 20%">
      <col style="width: 10%">
      <col style="width: 5%">
      <col style="width: 25%">
      <col style="width: 10%">
    </colgroup>

    <thead>
      <tr data-hook="admin_trackers_index_headers">
        <th><%= Spree::Tracker.human_attribute_name(:analytics_id) %></th>
        <th><%= Spree::Tracker.human_attribute_name(:tracker_type) %></th>
        <th><%= t("spree.status") %></th>
        <th><%= t("spree.store") %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <tbody>
      <% @trackers.each do |tracker|%>
        <tr id="<%= spree_dom_id tracker %>" data-hook="admin_trackers_index_rows" class="<%= cycle("odd", "even")%>">
          <td><%= tracker.analytics_id %></td>
          <td><%= display_tracker_type(tracker) %></td>
          <td>
            <span class="pill pill-<%= tracker.active ? 'active' : 'inactive' %>">
              <%= t(tracker.active? ? :active : :inactive, scope: 'spree') %>
            </span>
          </td>
          <td><%= tracker.store.try(:name) %></td>
          <td class="actions">
            <% if can?(:update, tracker) %>
              <%= link_to_edit tracker, :no_text => true %>
            <% end %>

            <% if can?(:destroy, tracker) %>
              <%= link_to_delete tracker, :no_text => true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render "spree/admin/shared/no_objects_found",
                 resource: Spree::Tracker,
                 new_resource_url: new_object_url %>
  </div>
<% end %>
